<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">

    <title><%= title %></title>
  </head>
  <body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><%= title %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <% for (let i = 0; i < nav.length; i++) { %>
            <li class="nav-item">
              <a class="nav-link" href="/<%= nav[i].link %>"><%= nav[i].title %></a>
            </li>
          <% } %>
        </ul>
      </div>
    </nav>

    <div class="container pt-5 mt-5">
      <div class="card mb-3 text-white bg-dark">
        <div class="row no-gutters">
          <div class="col-md-2">
            <img src="<%= book.image_url %>" class="card-img h-100">
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <% if (isSignedIn) { %>
                <% if (!isAdded) { %>
                  <form name="addToLibrary" action="/books/<%= book.id %>" method="POST">
                    <button type="submit" id="add-to-library" class="btn btn-primary btn-sm float-right">Add to your library</button>
                  </form>
                <% } else { %>
                  <form name="deleteFromLibrary" action="/books/<%= book.id %>?_method=DELETE" method="POST">
                    <button type="submit" id="delete-from-library" class="btn btn-danger btn-sm float-right">Delete from your library</button>
                  </form>
                <% } %>
              <% } %>
              <h5 class="card-title">Title: <%= book.title %></h5>
              <p class="card-text">Author: <%= book.authors || '---' %></p>
              <p class="card-text">Pages: <%= book.num_pages || '---' %></p>
              <p class="card-text">Published: <%= book.publication_day || 'DD' %>/<%= book.publication_month || 'MM' %>/<%= book.publication_year || 'YYYY' %></p>
              <p class="card-text">Publisher: <%= book.publisher || '---' %></p>
              <p class="card-text">Avarage rating: <%= book.average_rating || '---' %></p>
            </div>
          </div>
        </div>
      </div>

      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h2 class="display-4">Description</h2>
          <p class="lead"><%- book.description || '---' %></p>
        </div>
      </div>
    </div>

    <footer class="mt-auto py-3">
      <div class="container">
        <span class="text-muted">Copyright © 2019 MalfiMalfi.</span>
      </div>
    </footer>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
